APP_NAME = react-universal-example
ADMIN_EMAIL = admin@example.com
ABOUT_ME = I'm a full stack engineer, passionate about <a href="https://github.com/facebook/react" target="_blank">React</a>, <a href="https://github.com/angular/angular" target="_blank">Angular</a> and <a href="https://github.com/yiisoft/yii2" target="_blank">Yii2</a>
GRAPHQL_API_URL = https://demo.zhaidongxi.com/yii2-app-example-api
